/* global settings */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');
:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.gradient-button {
    background-image: -webkit-linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: -moz-linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
}

.gradient-circle {
    background-image: -webkit-linear-gradient(to right bottom, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: -moz-linear-gradient(to right bottom, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: linear-gradient(to right bottom, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);
}


/* navbar */

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-container {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 0 0 20px;
    color: var(--grayish-blue);
    margin: 0 1vw;
}

nav ul li:hover {
    border-bottom: -webkit-linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: -moz-linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
}

button {
    color: var(--very-light-gray);
    border-radius: 20px;
    padding: 13px 25px;
    border: none;
    outline: none;
}

button:hover {
    opacity: .7;
}


/* first-section */

.first-section {
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
}

.container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.first-section-left {
    flex: 1;
}

.first-section-rigth {
    flex: 1;
}

.first-section h1 {
    font-size: 48px;
    font-weight: 300;
    margin-top: 0;
}

/* second-section */


/* atribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}